@model IEnumerable<NewLifeThriftShop.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Your Favourite Cart Item</h1>

@if (ViewBag.Message != "")
{
    <script>alert("@ViewBag.Message")</script>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </th>
            <th>
                Subtotal Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            double subTotal = item.Product.Price * item.Quantity;
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @subTotal
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CartItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CartItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CartItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <h5>Total Amount : </h5>
    <span>@ViewBag.TotalPrice</span>
</p>
<form asp-action="CreateOrder" asp-controller="Orders" method="post">
    <div class="form-group">
        <label class="control-label">Payment Type</label>
        <select class="form-control" name="paymentType">
            <option value="CARD">Card</option>
            <option value="ONLINE_BANKING">Online Banking</option>
            <option value="E-WALLET">E-Wallet</option>
        </select>
    </div>
    <input type="hidden" name="totalPrice" value="@ViewBag.TotalPrice" />
  <button type="submit" class="btn btn-info" disabled="@ViewBag.IsEmpty">Pay Now</button>
</form>
