@model IEnumerable<NewLifeThriftShop.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Historical Payment Record</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                    @if (item.Order.Status == "CANCELLED")
                    {
                        <span>REFUND</span>
                    }
                    else if (item.Order.Status == "PENDING")
                    {
                        <span>PENDING</span>
                    }else
                    {                        
                        <span>SUCCESS</span>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
