@using Microsoft.AspNetCore.Identity
@using NewLifeThriftShop.Areas.Identity.Data
@model IEnumerable<NewLifeThriftShop.Models.Order>
@inject UserManager<NewLifeThriftShopUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Check Your Order Here</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price) (RM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                Number of Order Items
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @item.OrderItems.Count
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                       <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
