@model List<KeyValuePair<OrderDto, string>>

@{
    ViewData["Title"] = "ViewPendingOrders";
}

@if (ViewBag.Message != "")
{
    <script>alert("@ViewBag.Message")</script>
}

<h1>Pending Order List</h1>

<h5>@Model.Count order(s) is pending.</h5>

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Price (RM)</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.CreatedAt)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Key.OrderId">Details</a> |
                    <a asp-action="AcceptOrder" asp-route-receiptHandler="@item.Value" 
                          asp-route-orderId="@item.Key.OrderId">Accept</a> |
                    <a asp-action="RejectOrder" asp-route-receiptHandler="@item.Value" 
                          asp-route-orderId="@item.Key.OrderId">Reject</a>
                </td>
            </tr>
        }
    </tbody>
</table>